<div class="row mb-2">
  <div class="col">
    <%= f.input :name, label: false, placeholder: "Nom de l'élément" %>
  </div>
  <div class="col">
    <%= f.input :quantity, label: false %>
  </div>
  <div class="col">
    <%= f.input :unit_price, label: false %>
  </div>
  <div class="col">
    <%= f.input :total_price, label: false, readonly: true %>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-sm btn-outline-danger remove-line-item">–</button>
  </div>
</div>
