<div class="section border p-3 mb-3">
  <%= f.input :name, placeholder: "Nom de la tâche" %>

  <div class="line-items-container">
    <%= f.simple_fields_for :line_items do |line_item_form| %>
      <%= render 'line_item_fields', f: line_item_form %>
    <% end %>
  </div>

  <button type="button" class="btn btn-sm btn-secondary add-line-item">+ Ajouter une sous-tâche</button>
  <button type="button" class="btn btn-sm btn-danger remove-section">Supprimer cette section</button>
</div>
