<div id="section-<%= section.id %>-total" class="d-flex justify-content-between align-items-baseline mt-1 px-1">
  <div class="fw-semibold ps-2 pb-1 ms-50px" style="font-size: 1.2rem;">
    <%= 'Total section (HT)' %>
  </div>
  <div class="fw-bold pe-2 pb-1" style="font-size: 1.5rem;">
    <%= number_to_currency(section.total_ht, unit: "€", separator: ",", delimiter: " ") %>
  </div>
</div>
