<h2 class="container pt-5" data-controller="sections"> Votre devis pour <%= "#{@quote.client.first_name} #{@quote.client.last_name}" %> </h2>

<div class="container" data-controller="sections">
  <div id="sections" data-sections-target="list">
    <% @quote.sections.each do |section| %>
      <%= render "quotes/section", section: section %>
    <% end %>
  </div>

  <%= render "quotes/new_section", quote: @quote %>


  <turbo-frame id="quote_visualize_button">
    <%= render "quotes/visualize_button", quote: @quote %>
  </turbo-frame>
</div>
