<div class="container py-5">

  <%= render "quotes/quote_content", quote: @quote %>

  <div class="text-center">
    <%= link_to 'Download PDF', download_pdf_quote_path(@quote) %>
  </div>
  <br>
  <div class="text-center">
    <%= link_to "← Retour à mes devis", company_quotes_path(@quote.company), class: "btn btn-outline-secondary" %>
  </div>

</div>
