// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$custom-blue: #1e3a8a;
$blue-dark: #0f2557;
$clear-blue: #007bff;
$marine-blue: #1e3a8a;
$blue-undefinited: #1451b3;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$cream: #fff8e7;
$cream-light: #fff0d6;
$creme-filled: #ffe8b3;
$cream-btn: #ffdf99;
$white:#FFFFFF;
