
  <div class="card shadow-sm mt-5" id="new_message">
    <div class="card-body">
      <h5 class="card-title mb-3 text-center">Envoyer un nouveau message</h5>
      <%= form_with model: [section, AiMessage.new], remote: true do |form| %>
        <div class="input-group">
          <%= form.text_area :description, rows: 2, class: "form-control", placeholder: "Posez une question à l'IA..." %>
          <button class="btn btn-primary" type="submit">Envoyer</button>
        </div>
      <% end %>
    </div>
  </div>
